<%= form_with model:@user, local:true do |f| %>

<% if @user.errors.any? %>
     <p><%= @user.errors.count %>errors prohibited this book from being saved:</p>
     <% @user.errors.full_messages.each do |book| %>
          <p><%= user %> can't be blank.</p>
    <% end %>
 <% end %>

<h2>User info</h2>
<label>Name</label>
<%= f.text_field :name, autofocus: true, id:"inputname", placeholder:"名前" %>

<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no-image.jpg" %>
<label>Image</label>
<%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
<label>Introduction</label>
<%= f.text_area :profile_Introduction %>
<%= f.submit "Update User" %>
<% end %>